.sliderCustom>span{
    object-fit: cover !important;
    width: 98% !important;
    height: 94% !important;
  }
  .sliderCustom{
      height: 100%;
  }
  .custom_staticLsider{
    display: none;
  }

  @media only screen    and (max-width: 800px) {
    .custom_staticLsider{
        display: block;
         }
         .custom_staticLsider>.mainSlider{
           height: 190px;
           width: 100%;
         }
         .custom_staticLsider>.mainSlider>img{
           width: 100%;
           height: 100%;
           border-radius: 8px;
         }
         .custom_staticLsider>ul{
           margin: 0;
           padding: 0;
           list-style: none;
           margin-top: 9px;
           display: flex;
           gap: 0 10px;
           
         }
         .custom_staticLsider>ul>li{
          width: 32%;
          cursor: pointer;
          
         }
         .custom_staticLsider>ul>li>img{
           border-radius: 8px;
           width: 100%;
           object-fit: cover;
           height: 100%;
         }

  }