.faq {
  background: rgba(0, 193, 221, 0.1);
  padding:10px 0;
}
.faq > div > h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  color: #474747;
  text-align: center;
  margin: 0 0 30px 0;
  padding: 0;
}
.faqWrapper{
  padding:0 10%
}
.button{
  justify-content: center;
  display: flex;
  margin-top: 40px;
}
@media only screen and (max-width: 800px) {
.faq{
  
}
.faq > div > h2{
  font-size: 23px;
}
.faqWrapper{
  padding: unset
}
}