.datePicker {
    border: none;
    height: 56px;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    width: 91%;
    color: #808080;

}

.parent {
    position: relative;
}


.datePicker~.arrow {
    display: none;
}

.line {
    display: inline-block;
    position: absolute;
    background: #c2c2c2;
    width: 2px;
    height: 20px;
    right: 60px;
}

.parent {
    display: flex;
    align-items: center;

}

.arrow {

    display: inline-flex;
    align-items: center;
    display: none;
}

.datePicker {
    border: none;
    outline: none;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    /* natural/3 */

    color: #7f7d7d;
}
.datePicker::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    /* natural/3 */

    color: #7f7d7d;
    opacity: 1; /* Firefox */
  }
@media only screen and (max-width: 860px) {

    .line {
        display: none;
        width: 1.5px;
        right: 34px;
    }

    .arrow {
        /*      display: none; */
        display: inline-flex;
        transform: translateX(-7px);
    }

    .datePicker {

        width: 96.9%;
    }

}