.aside{
    background: #FFFFFF;
   height: min-content;
     border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 10px; 
    padding: 16px;
}


@media screen and (min-width: 680px) and (max-width: 932px) { 
    .aside{
        display: none
    };
  }
  
  @media only screen and (max-width: 680px) {
    .aside{
        display: none
    };
    }