.TalksContainer{
    min-height: 50vh;
    max-height: 82.5vh;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    justify-content: space-between;
    margin-top: 30px;
    padding: 0 6%;
}
.TalksContainer>div{
    margin: 0 0 2.99% 2.99% ;
}
@media only screen and (max-width: 928px) {

.TalksContainer{
    overflow: unset;
    justify-content: center;
    gap: 0 8px;
    padding: 0;
}
.TalksContainer>div{
    margin: 24px 15px;
}
}

@media only screen and (max-width: 810px) {
    .TalksContainer{
 
    justify-content: center;
    overflow: unset;
    padding: 0;
    }

    .TalksContainer>div{
        margin: 24px 0;
    }

}
