.videparent {
  padding: 24px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 33px 3%;
  height: 88vh;
  overflow: hidden;
}
.item {
  /* background: red; */
  min-width: 45%;
  position: relative;
}
.item > .user_info {
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #ffffff;
  backdrop-filter: blur(100px);
  border-radius: 20px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 152px;
  bottom: -32px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
}
.item > div {
    height: 100%;
  border-radius: 50px;
  overflow: hidden;
}
.videbuttons {
  margin-top: -7px;
  display: flex;
  justify-content: center;
  gap: 0 10px;
  align-items: center;
}
.videbuttons > button {
  cursor: pointer;
  outline: none;
  border: none;
  background: #5c5c5c;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.videbuttons > button.extbutton {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background: #ff6868;
  cursor: pointer;
  outline: none;
  border: none;
}
.parent{
  position: relative;
  display: flex;
}
.parent>div{
  width: 28.8%;
}
.parent>div:first-child{
  width: 100%;
}
@media only screen    and (max-width: 800px) {
.videparent{
  height: 85vh;
}
.item{
  width: 100%;
}
.parent{
  display: block;
}
.parent>div{
  width: 100%;
}
.parent>div:last-child{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
}