.videparent {
  padding: 24px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 33px 3%;
  height: 83vh;
  overflow: hidden;
}
.item {
  /* background: red; */
  min-width: 45%;
  position: relative;
}
.item > .user_info {
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #ffffff;
  backdrop-filter: blur(100px);
  border-radius: 20px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 15px;
  width: 220px;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.item > div {
    height: 100%;
  border-radius: 50px;
  overflow: hidden;
}
.videbuttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 0 10px;
  align-items: center;
}
.videbuttons > button {
  cursor: pointer;
  outline: none;
  border: none;
  background: #5c5c5c;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.videbuttons > button.extbutton {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background: #ff6868;
  cursor: pointer;
  outline: none;
  border: none;
}
