.asideMain {
  display: flex;
  padding-top: 30px;
}
.topHeaderButtons {
  padding: 0;
  width: 30%;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0 15px;
  /* justify-content: space-between; */
}
.topHeaderButtons > li {
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #c2c2c2;
  padding: 0 5px;
}
.topHeaderButtons > li.active {
  text-align: center;
  background: #f2fcfd;
  height: 40px;
  border: 1px solid #00c1dd;
  border-radius: 10px;
  line-height: 40px;
  color: #00c1dd;
}

.dashTabs {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 0 20px;
}
.dashTabs > li {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #c2c2c2;
  cursor: pointer;
}
.dashTabs > li.itemActive {
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #00c1dd;
  border-bottom: 2px solid #00c1dd;
}
@media only screen and (max-width: 860px) {
.dashTabs{
  padding: 0;
}
.dashTabs>li{
  font-size: 13px;

}
.dashTabs > li.itemActive{
  font-size: 13px;
}
.asideMain {
  padding-top: 0;
}
}