.nav{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    width: 70%;


    font-style: normal;
    font-weight: 400;
    
    
}
.activeNav{
    color: #474747 !important;
    font-size: 15px;
}
.nafv{
    font-size: 14.9px;
    color: #999999;
}

@media only screen and (max-width: 800px) {
    .nav{
        display: none;
    }
    }
