@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap');
html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.wrapper{
  max-width: 1290px;
  margin: 0 auto;
}
.warpperAUth{
  max-width: 1480px;
  margin: 0 auto;
}
.slick-dots{
  margin:  0 auto !important;
  max-width: 120px !important;
  position: static !important;
  /* background: #C2C2C2; */
}
.slick-dots>li{
  margin : 0 0  !important;
}
li.slick-active>button:before{
font-size: 12px !important;
color: #C2C2C2 !important;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.avatar{
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #00c1dd;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 19px;
  display: flex;
  font-weight: bold;
}
.avatar-img{
  width: 65px;
  height: 65px;
  border-radius: 50%;
  object-fit: cover;
}
.avatar-sm{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #00c1dd;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  display: flex;
  font-weight: 500;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(187, 187, 187, 0.178); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(153, 153, 153, 0.329); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00C1DD; 
}

@media screen and (min-width: 800px) and (max-width: 1450px) { 
  .wrapper{
    max-width: 90%;
  }
  .warpperAUth{
    max-width: 85%;
  }
}
@media only screen and (max-width: 800px) {
  .wrapper{
    max-width: 90%;
    margin: 0 auto;
  }
  .warpperAUth{
    max-width: 90%;
  }
  }