.footer > div {
  height: 320px;
  background-color: white;
  padding: 70px 0;
}
.footer > div > ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.firstLI {
  width: 23%;
}
.content {
  margin-top: 32px;
  font-weight: 400;
  font-size: 14px;
  color: #474747;
}

.info > h4 {
  margin: 0;
  padding: 0;
  color: #00c1dd;
  font-size: 18px;
}
.info > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.info > ul > li {
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
  opacity: 0.6;
  margin-top: 15px;
}
.footer_content {
  width: 29%;
}
.footer_content > h4 {
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  margin: 0;
  padding: 0;
}
.subscripe >form{
  margin-top: 33px;
  position: relative;
  display: flex;
}
.subscripe form > input {
  width: 211px;
  height: 44px;
  background: #f6f6f6;
  border-radius: 10px 0 0 10px;
  border: none;
  outline: none;
  padding-left: 16px;
  font-weight: 400;
  font-size: 14px;
  color: #C2C2C2;
  
}
.subscripe form>input::placeholder{
  font-weight: 400;
  font-size: 14px;
  color: #C2C2C2;
}
.subscripe form>div{
  transform: translateX(-10px);
}
@media screen and (min-width: 800px) and (max-width: 1000px) { 
  .footer > div > ul {
    flex-wrap: wrap;
   }
   .footer > div > ul>li{
     width: 44%;
   }
   .footer > div {
     height: 100%;
     padding-bottom: 20px;
     padding: 30px 22px;
   }
}
.subscripe form>input.errorinput{
  border: 1px solid red;
}

@media only screen and (max-width: 800px) {
  .footer > div{
    height: 100%;
  }
  .footer > div > ul {
   display: flex;
   flex-direction: column;
   align-items: center;
  }
  .footer > div > ul>li{
    margin-top: 15px;
    width: 90%;
  }
  }