.teacherContainer{
    min-height: 50vh;
    max-height: 82.5vh;
    height: min-content;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    overflow-y: scroll;
}
.teacherContainer>div{
    margin: 0 0 2.99% 2.99% ;
}
.teacherCard{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (max-width: 810px) {
    .teacherContainer{
 
    justify-content: center;
    overflow: unset;
    width: 100%;
    }

    .teacherContainer>div{
        margin: 24px 0;
    }

}